@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
header {
  display: flex;
  align-items: center;
  width: 1440px;
  max-width: 90%;
  margin: auto;
  height: 70px;
  text-align: center;
  padding: 2%;
}
@media screen and (max-width: 900px) {
  header {
    height: 50px;
    padding: 3%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: 45px;
    padding: 4%;
  }
}
header img {
  height: 100%;
}
@media screen and (max-width: 500px) {
  header {
    height: 47px;
  }
}
@media screen and (max-width: 400px) {
  header {
    height: 35px;
  }
}
header nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 300px;
  margin-left: auto;
  font-size: 24px;
}
@media screen and (max-width: 900px) {
  header nav {
    width: 250px;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  header nav {
    width: 225px;
    font-size: 18px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 400px) {
  header nav {
    width: 200px;
    font-size: 15px;
    text-transform: uppercase;
  }
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding-left: 0;
}
@media screen and (max-width: 400px) {
  header ul {
    padding: 0;
  }
}
header .lienNav {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  justify-content: space-between;
  width: 50%;
  text-decoration: none;
}

.banner {
  position: relative;
  width: 1240px;
  max-width: 90%;
  margin: auto;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 50px;
}
.banner .imgBanner {
  height: 100%;
  border-radius: 25px;
}
.banner .imgBanner img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 500px) {
  .banner .imgBanner {
    border-radius: 10px;
  }
}
.banner .imgBanner:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.25);
}
.banner .bannerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
}
@media screen and (max-width: 900px) {
  .banner .bannerText {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .banner .bannerText {
    font-size: 24px;
    top: 50%;
    left: 37%;
  }
}

@media screen and (max-width: 500px) {
  .heightHome {
    height: 111px;
  }
}

.cardList {
  max-width: 1240px;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 60px;
  margin: auto;
  border-radius: 25px;
  padding: 50px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
@media screen and (max-width: 1100px) {
  .cardList {
    padding: 20px;
    background-color: white;
    justify-content: center;
    gap: 20px;
    padding-top: 0;
  }
}

.cardContainer {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 25px;
  max-width: calc(33.3333333333% - 40px);
}
@media screen and (max-width: 1100px) {
  .cardContainer {
    width: 100%;
    max-width: calc(50% - 40px);
  }
}
@media screen and (max-width: 750px) {
  .cardContainer {
    max-width: 100%;
    max-width: calc(100% - 25px);
  }
}
.cardContainer .cardImg {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 25px;
}
.cardContainer .cardImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cardContainer .cardImg:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 75%);
}
.cardContainer h3 {
  font-family: "Montserrat", sans-serif;
  padding: 0.5%;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  color: white;
}

.blocNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  width: 60%;
  margin: auto;
  margin-bottom: 180px;
}
@media screen and (max-width: 900px) {
  .blocNotFound {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  .blocNotFound {
    margin-top: 50px;
    margin-bottom: 150px;
  }
}
.blocNotFound .bloc404 {
  display: inline-block;
  text-align: center;
  font-size: 288px;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-weight: 700;
}
@media screen and (max-width: 900px) {
  .blocNotFound .bloc404 {
    font-size: 200px;
  }
}
@media screen and (max-width: 600px) {
  .blocNotFound .bloc404 {
    font-size: 96px;
  }
}
.blocNotFound .oups {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-weight: 500;
}
@media screen and (max-width: 900px) {
  .blocNotFound .oups {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .blocNotFound .oups {
    font-size: 18px;
  }
}
.blocNotFound p {
  margin: 0;
}

.linkRetourAccueil {
  max-width: 1440px;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .linkRetourAccueil {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .linkRetourAccueil {
    margin-bottom: 0;
  }
}
.linkRetourAccueil a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}
.linkRetourAccueil :hover {
  cursor: pointer;
  text-decoration: underline;
}

.sliderDisplay {
  position: relative;
  width: clamp(335px, 90vw, 1240px);
  height: 415px;
  margin: auto;
  border-radius: 25px;
  margin-bottom: 30px;
}
.sliderDisplay img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.sliderDisplay .compteur {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.sliderDisplay button {
  position: absolute;
  appearance: none;
  border: none;
  width: 50px;
  height: 80px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.sliderDisplay button.prev {
  background-image: url("./assets/leftArrow.svg");
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  left: 1%;
}
.sliderDisplay button.next {
  background-image: url("./assets/leftArrow.svg");
  top: 50%;
  transform: translateY(-50%);
  right: 1%;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerContainer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img {
  width: 125px;
  height: 40px;
  filter: brightness(10);
}
@media screen and (max-width: 450px) {
  .footer img {
    width: 100px;
  }
}
.footer p {
  color: white;
  letter-spacing: 0.1rem;
  font-size: 24px;
}
@media screen and (max-width: 450px) {
  .footer p {
    font-size: 16px;
  }
}

.collapse {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
.collapse div {
  width: 100%;
  border-radius: 5px;
  background-color: #f6f6f6;
}
.collapse div p {
  padding: 20px;
  margin: 0;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}
.collapse div ul {
  margin: 0;
  padding: 20px;
}
.collapse div li {
  list-style: none;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}
.collapse .infoCollapse {
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5%;
  box-sizing: border-box;
}
.collapse h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  margin: 0;
}
.collapse img {
  height: 20px;
  rotate: 90deg;
  padding: 5px;
  transition: 0.5s transform ease;
}
.collapse img.rotateArrowReverse {
  transform: rotate(180deg);
}

.tagStyle {
  background-color: #ff6060;
  padding: 3px 30px 3px 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  border-radius: 10px;
  font-size: 12px;
}
@media screen and (max-width: 980px) {
  .tagStyle {
    padding: 3px 15px 3px 15px;
  }
}

.titleLocation h2 {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (max-width: 980px) {
  .titleLocation h2 {
    margin: 0;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 750px) {
  .titleLocation h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .titleLocation h2 {
    font-size: 18px;
  }
}
.titleLocation p {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-size: 18px;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .titleLocation p {
    font-size: 14px;
  }
}

.hostStyle {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 10px;
}
.hostStyle img {
  border-radius: 35px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
@media screen and (max-width: 500px) {
  .hostStyle img {
    width: 55px;
    height: 55px;
  }
}
.hostStyle p {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-size: 18px;
  text-align: right;
}
@media screen and (max-width: 500px) {
  .hostStyle p {
    font-size: 14px;
  }
}

.titreLocationDisplay {
  margin-bottom: 20px;
}

.tagDisplay {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 575px) {
  .tagDisplay {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
  }
}
@media screen and (max-width: 500px) {
  .tagDisplay div {
    height: 30px;
  }
}

.hostDisplay {
  display: flex;
}

.blocNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  width: 60%;
  margin: auto;
  margin-bottom: 180px;
}
@media screen and (max-width: 900px) {
  .blocNotFound {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  .blocNotFound {
    margin-top: 50px;
    margin-bottom: 150px;
  }
}
.blocNotFound .bloc404 {
  display: inline-block;
  text-align: center;
  font-size: 288px;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-weight: 700;
}
@media screen and (max-width: 900px) {
  .blocNotFound .bloc404 {
    font-size: 200px;
  }
}
@media screen and (max-width: 600px) {
  .blocNotFound .bloc404 {
    font-size: 96px;
  }
}
.blocNotFound .oups {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-weight: 500;
}
@media screen and (max-width: 900px) {
  .blocNotFound .oups {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .blocNotFound .oups {
    font-size: 18px;
  }
}
.blocNotFound p {
  margin: 0;
}

.linkRetourAccueil {
  max-width: 1440px;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .linkRetourAccueil {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .linkRetourAccueil {
    margin-bottom: 0;
  }
}
.linkRetourAccueil a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}
.linkRetourAccueil :hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  svg {
    width: 15px;
    height: 15px;
  }
}

.collapsesDisplay {
  max-width: 1440px;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .collapsesDisplay {
    width: 90%;
  }
}

.infosLogementDisplay {
  max-width: 1240px;
  width: clamp(335px, 90vw, 1240px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 25px;
}
@media screen and (max-width: 980px) {
  .infosLogementDisplay {
    flex-direction: column;
  }
}
@media screen and (max-width: 980px) {
  .infosLogementDisplay .hostAndRatingDisplay {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.collapseLogementDisplay {
  display: flex;
  justify-content: space-between;
  width: clamp(335px, 90vw, 1240px);
  margin: auto;
  gap: 75px;
}
@media screen and (max-width: 650px) {
  .collapseLogementDisplay {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
html #root,
body #root {
  height: 100%;
}
html #root .layout,
body #root .layout {
  position: relative;
  height: max-content;
  min-height: calc(100% - 200px);
  padding-bottom: 200px;
}

/*# sourceMappingURL=main.css.map */
